<div class="leverage_questions">
    <div class="leverage_personal leverage_item base_sec_one">
        <div class="leverage_item_inner">
            <h2>Personal Information</h2>
            <div class="leverage_form_items">
                <div class="leverate_form_item">
                    <label for="">Name</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">Phone number</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">Email address</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">State/County</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">Business industry</label>
                    <input type="text" >
                </div>
            </div>
            <div class="leverage_form_buttons">
                <button class="proceed_to_step_two">Proceed to next step</button>
            </div>
        </div>
    </div>
    <div class="leverage_business leverage_item base_sec_two">
        <div class="leverage_item_inner">
            <h2>Business Information</h2>
            <div class="leverage_form_items">
                <div class="leverate_form_item">
                    <label for="">Position in the business</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">How long have you been in the business?</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">Why does your business exist?</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">What’s your 5 year vision for your business?</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">How do you plan in accomplishing your vision for your business?</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">What’s your average monthly income?</label>
                    <input type="text" >
                </div>
            </div>
            <div class="leverage_form_buttons">
                <button class="proceed_to_step_three">Proceed to next step</button>
            </div>
        </div>
    </div>
    <div class="leverage_smart_business leverage_item base_sec_three">
        <div class="leverage_item_inner">
            <h2>As a smart business owner…</h2>
            <div class="leverage_form_items">
                <div class="leverate_form_item">
                    <label for="">Position in the business</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">How long have you been in the business?</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">Why does your business exist?</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">What’s your 5 year vision for your business?</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">How do you plan in accomplishing your vision for your business?</label>
                    <input type="text" >
                </div>
                <div class="leverate_form_item">
                    <label for="">What’s your average monthly income?</label>
                    <input type="text" >
                </div>
            </div>
            <div class="leverage_form_buttons">
                <button>Submit Answers</button>
            </div>
        </div>
    </div>
    <div class="leverage_smart_business leverage_item  base_sec_four">
        <div class="leverage_item_inner">
            <h2>Thank you for participating</h2>
            <div class="leverage_info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mollis odio. Etiam tempus odio ac tincidunt auctor. Duis tempor, sapien non imperdiet molestie, ligula tellus luctus risus, et consequat metus felis quis arcu. Suspendisse tincidunt, magna a lobortis auctor, orci lorem faucibus purus, at maximus ex orci sed risus.
            </div>
            <div class="leverage_form_buttons">
                <a href="#">Consult with us</a>
                <a href="#">or do it later</a>
            </div>
        </div>
    </div>
</div>